<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>958026509506-4ncltq74pbuoheilg9mkkm7al4rct1nj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.958026509506-4ncltq74pbuoheilg9mkkm7al4rct1nj</string>
	<key>API_KEY</key>
	<string>AIzaSyBySPYjnnZ7f7kyGKd70T4EBsUPCrmn7PI</string>
	<key>GCM_SENDER_ID</key>
	<string>958026509506</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.uoregon.casls.ComfortApp</string>
	<key>PROJECT_ID</key>
	<string>absolute-keel-174822</string>
	<key>STORAGE_BUCKET</key>
	<string>absolute-keel-174822.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:958026509506:ios:b8b0a0792ce60905</string>
	<key>DATABASE_URL</key>
	<string>https://absolute-keel-174822.firebaseio.com</string>
</dict>
</plist>